#followingFeeds {
    /* color: black; */
}

#followingFeedsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#followingFeedsPage > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffffff2b;


    color: white;

    >h6 {
        margin: 0;
    }
}