/* Screen size less than 1470px*/
@media (max-width: 1470px) {
    #homepage {
        padding-right: 150px;
    }

    #homepage #navigationBar {
        width: 250px;
        left: 15vw;
    }

}

/* Screen size less than 1360px */
@media (max-width: 1360px) {
    #homepage {
        padding-right: 100px;
    }

    #homepage #navigationBar {
        width: 250px;
        left: 10vw;
    }


}

/* Screen size less than 1190px */
@media (max-width: 1190px) {
    #homepage {
        padding-right: 100px;
    }

    #homepage #navigationBar {
        width: 250px;
        left: 5vw;
    }

    .loginPage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .registerPage {
        padding: 0 !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loginImgSection {
        display: none;
    }

    .registerBody .imgSection {
        display: none;
    }

    .registerBody {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loginBody {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formSectionBox {
        padding: 0 !important;
    }

}

/* Screen size less than 1060px */
@media (max-width: 1060px) {
    #homepage #navigationBar {
        width: 250px;
        left: 2vw;
    }

}

/* Screen size less than 990px */
@media (max-width: 990px) {
    #homepage {
        padding-right: 100px;
    }

    #homepage #navigationBar {
        width: 80px;
        left: 1vw;
    }

    #iconList {
        ul a li p {
            display: none;
        }
    }

    #navigationUtility {
        ul a li p {
            display: none;
        }
    }

    #homepageData {
        width: 550px;
        margin-left: 150px;
    }

    #deleteModal .deleteModalBody {
        width: 50vw;
        height: fit-content;
    }

    #chatBox .chatBoxChat .chatInput {
        position: fixed;
        bottom: 52px;
        display: flex;
        width: 36rem;
        left: 50%;
        transform: translateX(-45%);
    }
}


/* Screen width less than 730px */
@media (max-width: 730px) {
    #homepage {
        padding-right: 0;
    }

    #homepageData {
        margin-left: 50px !important;
        width: 500px !important;
    }

    #chatBox .chatBoxChat .chatInput {
        position: fixed;
        bottom: 52px;
        display: flex;
        width: 75vw;
        left: 50%;
        transform: translateX(-45%);
    }

}

/* Screen width less than 650px */
@media (max-width: 650px) {
    #homepage {
        padding-right: 0;
    }

    #homepage #navigationBar {
        display: none !important;
    }

    #homepageData {
        width: 500px !important;
        margin: auto !important;
        padding: 0 10px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #mobileNavigationBar {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #a5a5a57e;
        backdrop-filter: blur(20px);
        z-index: 10000;

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
    }

    .formSectionBox {
        padding: 0 !important;
        width: 100%;


        >div,
        p,
        button {
            width: 100%;
        }

        .inputPasswordSpan {
            display: flex;
            justify-content: space-between;

            button {
                width: 24px !important;

            }
        }

    }

    #replyModal {
        width: 90vw;
    }

    #deleteModal .deleteModalBody {
        width: 90vw;
        height: fit-content;
    }

    .profileLoader {
        position: relative;
        top: 50%;
        left: 50%;
        height: 100px;
        width: 100px;
        scale: 1;
        display: flex;
        transform: translate(-50%, 200%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #chatBox .chatBoxChat .chatInput {
        position: fixed;
        bottom: 52px;
        display: flex;
        width: 99.8vw;
        left: 50%;
        transform: translateX(-49.5%);
    }
}

@media (max-width: 450px) {
    #homepageData {
        width: 100vw !important;
        margin: auto !important;
        padding: 0 10px;
        padding-top: 20px;
        padding-bottom: 45px;
    }

    #newTweet {
        padding: 12px 8px;
    }

    #newTweet .tweetContainer {
        gap: 10px;

        .tweetBody {
            width: 82.5%;
        }
    }

    .retweetModalBody {
        width: 90vw;
        min-height: 50vh;
    }

    #deleteModal .deleteModalBody {
        width: 90vw;
        height: fit-content;
    }

    .editUserProfile {
        bottom: 5px !important;
    }

    #chatroom .chatroomSearchbox {
        input {
            width: 80%;

        }
    }

    #chatBox .chatBoxChat .chatInput {
        position: fixed;
        bottom: 52px;
        display: flex;
        width: 100%;
        left: 50%;
        transform: translateX(-49.5%);
    }

    #reportModal .reportModalBody {
        width: 80% !important;
        height: fit-content;
        padding: 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-color: #383838;
        border-radius: 16px;

    }
}
    @media (min-width:650px) {
        #mobileNavigationBar {
            display: none !important;
        }


    }
